.welcome_model,
.overlay-4 {
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 11111111;
}
.overlay-4 {
    backdrop-filter: blur(4px);
    background: #06123754;
}
.popup-model-content {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 30px 30px 30px;
    width: 1150px;
    border-radius: 10px;
    z-index: 11111111;
    display: flex;
    box-shadow: 0 5px 5px #a6a6a6;
    flex-direction: column;
    gap: 20px;
}
.popup-model-wrapper {
    display: grid;
    grid-template-columns: 33% 65%;
    gap: 20px;
    position: relative;
}
.popop-model-right {
}
.popop-model-right .btn-close {
    position: absolute;
    top: -25px;
    right: -5px;
    background: #ffb317;
    padding: 10px;
    border-radius: 100%;
}
.frame-title {
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.popup-frame-item-lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 15px;
}
.qr-item-item {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #fff;
}
.scan-me-text {
    padding: 6px 0px;
}
.popop-model-left .popup-frame-item-first {
    padding: 10px 10px 0 10px;
    border-radius: 4px;
}

.scan-me-text h4 {
    color: #fff;
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}
.scan-me-text-download h4 {
    font-size: 25px;
    font-weight: 700;
}

.form-control-color-frame-text {
    border: 1px solid #ddd !important;
    padding: 5px 10px !important;
    border-radius: 4px !important;
}
.popup-frame-item-second .qr-item-item {
    border: 5px solid #000;
    border-radius: 4px;
}
.popup-frame-item-second .scan-me-text h4 {
    color: #000;
}

.collapse {
    visibility: visible !important;
}
.popup-model-content {
    color: #000;
}
.popup-frame-list-item-view {
    display: none;
}
.popup-frame-list-item img {
    width: 60%;
    margin: auto;
}
.popup-frame-list-item-view.active {
    display: block;
}
.popup-frame-list-item {
    background: #fcf3f3e8;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
    border: 1px solid #fcf3f3e8;
    box-shadow: 5px 5px 6px #ddd;
}
.popup-frame-list-item:hover {
    background: #d7d5d5e8;
    box-shadow: 5px 5px 6px #ddd;
    border: 1px solid #ffb317;
}
.popup-frame-list-item.active {
    display: block;
    box-shadow: 5px 5px 6px #ddd;
    border: 1px solid #ffb317;
}
.popop-model-left {
    padding: 40px 50px 0 50px;
}
.qr-image-wrapper {
    width: 100%;
}
.frame-download-btn-item {
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-frame-list-item {
    margin-top: 20px;
}
.logo-frame-list-item ul {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo-frame-list-item ul li {
    width: 50px;
    height: 50px;
}
.logo-frame-list-item ul .logo-frame-item {
    position: relative;
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #fcf3f3e8;
    box-shadow: 5px 5px 6px #ddd;
    cursor: pointer;
    transition: 0.4s;
}
.logo-frame-list-item ul .logo-frame-item:hover {
    background: #d7d5d5e8;
    box-shadow: 5px 5px 6px #ddd;
    border: 1px solid #ffb317;
}
.logo-frame-item img {
    width: 100%;
    height: 100%;
}
.logo-frame-item .remove-btn {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #ff0000;
    padding: 3px;
}
.popop-model-left .scan-me-text {
    padding: 10px 0;
}
.popup-frame-item-third .qr-item-item {
    border: 10px solid #000;
    border-radius: 4px;
}
.popop-model-left .scan-me-text-item {
    margin-bottom: 25px;
}

.scan-me-text-item {
    background: #000;
    padding: 5px 10px;
    margin-bottom: 15px;
    position: relative;
    line-height: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    border-radius: 3px;
}
.popup-frame-item-third .scan-me-text-item img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    z-index: -1;
    height: 20px;
    bottom: -12px;
    margin: auto;
    text-align: center;
}

.popup-frame-item-four .qr-item-item {
    border: 10px solid #000;
    border-radius: 4px;
}
.popup-frame-item-four .frame-arrow-icon {
    position: absolute;
    top: -10px;
}

.popup-frame-item-four .scan-me-text-item {
    margin-top: 15px;
    margin-bottom: 0;
}
.popup-frame-item-four .scan-me-text-item img {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    z-index: -1;
    height: 20px;
    top: -12px;
    margin: auto;
    text-align: center;
}
.popop-model-left .popup-frame-item-four .scan-me-text-item {
    margin-top: 25px;
}

.popup-frame-item-third .frame-arrow-icon {
    position: absolute;
    bottom: -10px;
}
.popup-frame-item-five .qr-item-item {
    border: 10px solid #000;
    border-radius: 4px;
}
.popop-model-left .popup-frame-item-five {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.popop-model-left .popup-frame-item-five .frame-arrow-item {
    position: absolute;
    left: -28px;
    bottom: 20%;
}
.popop-model-left .popup-frame-item-five .scan-me-text h4 {
    font-family: 'Smooch';
    font-family: 'Smooch';
    color: #ffb317;
    font-size: 40px;
    font-weight: 600;
    margin-top: 14px;
    transform: rotate(-6deg);
    letter-spacing: 2px;
    text-transform: uppercase;
}

.popup-frame-item-five .frame-arrow-item svg {
    width: 90%;
}
.popup-frame-item-five .scan-me-texts h4 {
    font-family: 'Smooch';
    color: #ffb317;
    font-size: 13px;
    font-weight: 600;
    margin-top: 14px;
    transform: rotate(-6deg);
    letter-spacing: 1px;
}
.popup-frame-item-six {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.popup-frame-item-six .frame-icon-6 {
    position: absolute;
    top: -20px;
    z-index: -1;
}
.popup-frame-item-seven .popup-frame-item-seven-head {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-frame-item-seven .scan-me-text-seven {
    position: absolute;
    bottom: 8px;
}
.popup-frame-item-seven .scan-me-text-seven h4 {
    color: #fff;
    font-size: 20px;
}
.popup-frame-item-seven .qr-item-item {
    border-radius: 4px;
}
.popup-frame-item-eight .qr-item-item {
    border-radius: 4px;
}
.popup-frame-item-eight .popup-frame-item-eight-bottom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup-frame-item-eight .popup-frame-item-eight-bottom .scan-me-text-eight {
    position: absolute;
    bottom: 8px;
}
.popup-frame-item-eight .popup-frame-item-eight-bottom .scan-me-text-eight h4 {
    color: #fff;
    font-size: 20px;
}

@media screen and (max-width: 1170px) {
    .popup-model-wrapper {
        grid-template-columns: 100%;
        gap: 50px;
    }

    .popup-model-content {
        overflow-x: scroll;
        height: 100%;
    }
    .popop-model-left .popup-frame-item-first {
    width: fit-content;
    margin: auto;
}
.popup-frame-item-lists {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 15px;
}
.popup-model-content {
    width: 100%;
    border-radius: 0px;
}
.frame-input-text-name input{
    width: 100%;
}

}
@media screen and (max-width: 550px) {
.popop-model-left {
    padding: 40px 30px 0 30px;
}
.popup-model-content {
    padding: 50px 20px 40px 20px;
}
}