@media screen and (max-width: 1200px) {
    .sidebar {
        height: fit-content;
        min-height: fit-content;
        width: 100%;
        position: relative;
        top: 0;
        margin-bottom: 30px;
    }
    .dashboard-content {
        height: 100%;
        width: 100%;
        min-height: fit-content;
        padding-left: 0px;
    }
    .qr-sidebar-left{
        position:relative;
         width: 100%;
    padding: 20px 25px 25px 25px;
    }
}

@media screen and (max-width: 992px) {
    .qr-show {
        margin-top: 30px;
    }
    .qr-input-item-wrapper {
        margin-bottom: 40px;
    }
    .qr-input-item-wrapper .qr-input-items {
        gap: 15px;
        flex-direction: column;
    }
    .qr-input-list-items {
        gap: 15px;
    }
    .qr-input-fleid {
        padding: 70px 0 70px 0;
    }
    .vcard-roadmap-content-item:nth-child(2)::after {
        display: none;
    }
    .vcard-roadmap-content-items {
        gap: 20px;
    }
    .vcard-roadmap-content-item:nth-child(2)::before {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .vcard-roadmap-content-items {
        grid-template-columns: 1fr;
    }
    .vcard-roadmap-content {
        padding-top: 20px;
    }
    .vcard-roadmap-content-items-2 {
        display: flex;
        flex-direction: column-reverse;
    }
    .logo img {
        width: 120px;
    }
    .compnay-info {
        border-right: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 690px) {
    .my-preview-top {
        text-align: center;
    }
    .card-list.view-body-item {
        padding: 20px 25px;
    }
    .view-card-btn button {
        display: inline-grid;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        margin: 12px auto 0;
        box-shadow: 0px 10px 14.1px 0.9px rgba(0, 0, 0, 0.24),
            0px 4px 19.6px 0.4px rgba(0, 0, 0, 0.16);
        cursor: pointer;
        transition: all 0.1s ease-out;
        position: relative;
        z-index: 998;
        overflow: hidden;
        padding: 10px;
    }
    .show-preview {
        padding-bottom: 120px;
    }

    .view-card-btn button span {
        display: none;
    }
    .view-btn-item {
        position: fixed;
        right: 20px;
        bottom: 40px;
    }
    .view-btn-item .view-card-btn {
        position: relative;
        padding: 0;
        float: none;
        width: auto;
    }
}
@media screen and (max-width: 640px) {
.header-drop-menu {
    background: #fff;
    margin-top: 15px;
}
}
@media screen and (max-width: 550px) {
    .qr-nav {
        display: block;
    }
    .compnay-name-info h3 {
        font-size: 20px;
    }
    .compnay-name-info p {
        font-size: 15px;
    }
    .scan p:first-child {
        font-size: 20px;
    }
    .scan {
        font-size: 15px;
    }
    .details a {
        font-size: 15px;
    }
    .compnay-info {
        border-right: 0;
        margin-bottom: 20px;
    }

    .qr-nav {
        display: block;
    }

    .qr-show {
        margin-top: 30px;
    }

    a.qr-downlod:focus {
        color: #fff;
    }

    a.qr-downlod:hover {
        color: #fff;
        border: none;
        outline: none;
    }
    .sidebar-wrapper {
    padding: 35px 30px;
}
}
@media screen and (max-width: 400px) {
    .form-box {
        padding: 25px;
    }
    .link-to-signup p {
        font-size: 15px;
    }
}
